/* body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
}

button{
    font-size: 30px;
    padding: 20px;
    cursor: pointer;
    color: teal;
}

button:hover{
    background-color: red;
    color: deeppink;
}

.cha:hover button{
    width: 300px;
    height: 300px;
    border: 3px solid blue;
} */

.row{
    display: flex;    
    justify-content: flex-end;
    flex-direction: row;
    flex-wrap: wrap;
}

.block1{
    width: 15%;
    height: 300px;
    font-size: 50px;
    color: black;
    text-align: center;
}
    
.row1{
        display: flex;    
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
}

.row2{
    display: flex;    
    justify-content: flex-end;
    flex-direction: row;

    justify-content: space-between;
}
